<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        ul {

list-style-type: none;
margin: 0;
padding: 0;
background-color: palevioletred;
overflow: hidden;
}

li a {
color: white;
padding: 20px;
text-decoration: none;
display: block;

}

li {
float: left;
}

li a:hover {
background-color: #1490D7;
}
    </style>
    <title>Menu</title>
</head>
<body>
    <ul>
<li><a href="./afficherEmploye.php">La Liste des Employées</a></li>
 <li><a href="./insertEmploye.php">Insert Employées</a></li>
  <li> <a href="./supprEmploye.php">Supprimer Employées</a></li> 
   <li> <a href="./updateSalaire.php">Update Salaire</a></li>
    </ul>
</body>
</html>
